extends layout

block content
	h1= title
	p Welcome to #{title}
	a(href='/login') Login
	p DERP

	table(class="table")
		thead
			tr
				td ID
				td Config
				td User ID
				td User Name
				td User Surname
				td AuthZero ID
		each model in models
			tr
				td #{model.botConfigs.id}
				td #{model.botConfigs.configuration}
				td #{model.id}
				td #{model.firstName}
				td #{model.lastName}
				td #{model.auth0_id}

	